    footer  {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding:15px;
    background-color:gray;
    color: black !important; 
    
    }

    .footer-link{
        color: black;
        font-size: x-large;
        margin-left: 20px;
        text-decoration: none;
    }

    .icon{
        font-size: 30px !important;
        
    }

    .card{
        margin-left: 30px;
    }

   .card-place{
    margin-top: 400px;
    margin-left: 30px;
   }

   .home-card{
    margin-top: 140 px;
   }
    
   